ruby:
  decorator = decorator_model.new(@user_lifeplan)

= render Members::UserLifeplans::DetailIncomeAndExpenseComponent.new(user_lifeplan_decorator: decorator, user_lifeplan_yearly_blance: @user_lifeplan_yearly_blance)
= render Members::UserLifeplans::TrailBalanceComponent.new(user_lifeplan_decorator: decorator, user_lifeplan_yearly_blance: @user_lifeplan_yearly_blance)
= render Members::UserLifeplans::UserInformationComponent.new(user_lifeplan_decorator: decorator, user_lifeplan_yearly_blance: @user_lifeplan_yearly_blance)
= render Members::UserLifeplans::BlanceGraphComponent.new(user_lifeplan_decorator: decorator, user_lifeplan_yearly_blance: @user_lifeplan_yearly_blance)
