ruby:
    base_color = "#50aa41"
    base_hover_color = "#49823f"
    base_boder_color = "#568e42"

css:
    .bg-asnica {
        background-color: #{base_color} !important;
    }

    .font-asnica {
        color: #{base_color};
    }

    .text-asnica {
        --bs-text-opacity: 1;
        color: #{base_color} !important;
    }

